*{
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}
#logo{
      color:orange;
}
button{
    background-color: orange;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
button:hover{
    background-color: brown;
}