body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#container{
    height: 377px;
    width: 474px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;


}
#box1{
    background-color: aqua;
    align-self: flex-start;
}
#box2{
    background-color:red;
    height: 150px;
    flex-shrink: 1;
}
#box3{
    background-color: blueviolet;
    flex-grow: 7;
}
#box4{
    background-color: brown;
}
#box5{
    background-color: cadetblue;
}